<div>
    <a href="https://www.linkedin.com/in/santiago-gariboldi/"><img src="../../../assets/linkedin.png" class="logo-redes"></a>
    <a href="https://github.com/santigariboldi"><img src="../../../assets/github.png" class="logo-redes"></a>
    <a href="https://www.instagram.com/santigariboldi/"><img src="../../../assets/instagram.png" class="logo-redes"></a>
    <a href="https://wa.link/szzzf2"><img src="../../../assets/whatsapp.png" class="logo-redes"></a>
    <button class="w-40 btn btn-sm btn-primary" type="submit" (click)="login()" *ngIf="!isLogged">Login</button>
    <button class="w-40 btn btn-sm btn-primary" type="submit" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
</div>
