.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(108,156,194,255), rgba(157, 70, 151, 255));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(108,156,194,255), rgba(157, 70, 151, 255))
    }

#logo{
    width: 250px;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}