<section class="vh-100 gradient-custom">
    <div>
        <img src="../../../assets/logo-argentina-programa.png" id="logo">
    </div>
<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <br>
                <div class="form-group">
                    <label for="nombre">Nueva Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="descripcionE">Porcentaje</label>
                    <input type="text" class="form-control" id="procentaje" name="procentaje" [(ngModel)]="porcentaje" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="skill_image_url">Seleccionar imagen de la skill</label>
                    <input type="file" class="form-control" id="skill_image_url" name="skill_image_url" [(ngModel)]="skill_image_url" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                </div>
                <br>
                <button class="btn btn-primary">
                    Agregar skill
                </button>
            </form>
        </div>
    </div>
</div>
</section>